.loader_container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(230, 223, 223);
}